body {
  background-color: beige;
}
.bobs-burg {
  color: blueviolet;
}
.big-bobs {
  color: blueviolet;
}
.bb {
  border-width: 20px;
  border-style: dashed;
  border-color:aquamarine;
}
.bbd {
  border-width: 20px;
  border-style: dashed;
  border-color:rgb(136, 127, 255);
}
/* 
document.getElementById('bobs-burgers-description').style.border = "thin dotted red";
*/
